"*":
  Zen:
    gutter: true
    softWrap: true
    tabs: "multiple"
    width: 120
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "atom-typescript": {}
  "better-git-blame":
    colorScale: "ChocolateMint"
    defaultWidth: 350
    searchInLayerEnabled: false
    sendUsageStatistics: false
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "linter-haml"
    ]
    packagesWithKeymapsDisabled: []
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "spacegray-dark-ui"
      "spacegray-atom-dark-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 20
    lineHeight: 1.6
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "8e1c62ab-56b8-40c9-866a-c95b154ae301"
  "relative-numbers": {}
  scrolloff:
    verticalMargin: 8
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
